body {
    background-color: #fff;
    font-family: roboto, montserrat;
    font-size: 13px;
    text-align: center;
}

header {
    font-weight: lighter;
}

.left-top-nav {
    text-align: left;
}

.right-top-nav {
    text-align: right;
    }
/*begin links section*/
a {
    padding: 6px;
    font-weight: lighter;
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a.nml-link:hover {
    text-decoration: underline;
}

a.nml-link:active {
    text-decoration: underline;
}
a.under-text:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
/*end links section*/
.apps-logo {
    position: absolute;
    top: 5px;
    width: 23px;
    height: 23px;
}
.blue-link {
    background-color: hsl(236, 85%, 68%);
    color: #fff;
    margin: 10px;
    border-radius: 5%;
}
.google-logo {
    position: relative;
    top: 117px;
    left: 0px;
}
.search-container {
    position: relative;
    top: 120px;
    left: 0px;
}
.search-bar {
    position: relative;
    top: 10px;
    left: -177px;
    height: 42px;
    width: 578px;
    border: 0.1px solid rgba(192, 192, 192, 0.7);
    border-radius: 30px
}
.under-text {
    position: absolute;
    top
}