body {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
}
header {
    font-weight: light;
    width: 100%;
}
.left-top-nav {
    position: relative;
    left: -39%;
}
.right-top-nav {
    position: relative;
    right: -39%;
    }
/*begin links section*/
a {
    padding: 6px;
    font-weight: lighter;
    color: gray;
}
a.black-text {
    color: black;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a.nml-link:hover {
    text-decoration: underline;
}
a.nml-link:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
/*begin under-text links*/
a.under-text-a:link {
    text-decoration: none;
}
a.under-text-a:visited {
    text-decoration: none;
}
a.under-text-a:hover {
    border: 1px solid silver;
    border-radius: 3px;
}
a.under-text-a:active {
    text-decoration: none;
}
a.under-text-b:link {
    text-decoration: none;
}
a.under-text-b:visited {
    text-decoration: none;
}
a.under-text-b:hover {
    border: 1px solid silver;
    border-radius: 3px;
}
a.under-text-b:active {
    text-decoration: none;
}
/*end under-text links*/
/*end links section*/
.apps-logo {
    position: relative;
    top: 5px;
    width: 23px;
    height: 23px;
}
.blue-link {
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 5%;
}
.google-logo {
    position: relative;
    top: 122px;
    left: 0px;
}
.search-container {
    position: relative;
    top: 146px;
    left: 467px;
    width: 578px;
    height: 43px;
    width: 582px;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 30px;
}
.search-bar {
    position: relative;
    top: 8px;
    left: -5px;
    height: 5px;
    width: 480px;
    padding: 10px;
    border: 1px solid white;
}
.under-text {
    position: relative;
    font-size: 14px;
}
.under-text-a {
    position: relative;
    margin: 0 auto;
    top: 185px;
    left: -10px;
    background-color: rgb(243, 243, 243);
    width: 30px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.under-text-b {
    position: relative;
    margin: 5px;
    top: 185px;
    right: -10px;
    background-color: rgb(243, 243, 243);
    width: 30px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}
footer {
    background-color: rgb(240, 240, 240);
    position: relative;
    top: 524px;
    width: 1505px;
    padding: 10px;
    border-top: 0.1px solid lightgray;
    font-size: 14px;
}
.bot-nav-left {
    position: relative;
    left: -34%;
}
.bot-nav-right {
    position: relative;
    right: -33%;
}